@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  --mainColor: #4eb869;
  --secondaryColor: #ffda71;
  --darkGray: #171717;
  --gray: #666666;
  --lightGray: #818181;
  --white: #ffffff;
  --black: #000000;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
  color: var(--darkGray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", serif;
  font-weight: bold;
}
